body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

#container {
	position: relative;
	/*display:block;*/
	/*clear: both;*/
}

#splash {
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	/*position: absolute;*/
}

#down {
	width: 10%;
	height: auto;
	margin: 10px;
}

.splash {
	max-width: 100%;
}

.splash .text {
	font-family: 'Oswald', sans-serif;
	text-align: left;
	font-size: 7em;
	color: #fff;
	position: absolute;
	z-index: 1;
	margin-top: 20%;
	margin-left: 15%;
	line-height:90%;
}

.splash .text2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	font-size: 2em;
	font-weight: 300;
	color: #fff;
	position: absolute;
	z-index: 1;
	margin-top: 35%;
	margin-left: 15%;
	line-height:90%;
}

.splash .text3 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	font-size: 1.5em;
	font-weight: 300;
	color: #fff;
	position: absolute;
	z-index: 1;
	margin-top: 40%;
	margin-left: 15%;
	line-height: 90%;
}

.splash .text3 a{
	text-decoration: none;
	color: white;
}

#description {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	z-index: 1;
	padding: 60px;
	background-color: #7A003D;
}

#toolbar {
	background-color: #f11f56;
}

#toolbar img, #toolbar a {
	width: 7%;
	height: auto;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

#graph {
	background-color: #EEE9E9;
	height: 500px;
}

#note { font-size: 164px; }

.droptarget { 
	background-color: #348781
}

div.confident { 
	color: black; 
}

#note { 
	display: inline-block; 
	height:180px; 
	text-align: left;
}

#detector { 
	width: 300px; 
	height: 300px; 
	text-align: center; 
	padding-top: 40px;
	margin: 0 auto;
	color: gray;
	font-size: 40px;
}

#output { 
	width: 300px; 
	height: 42px; 
}

#flat, #sharp { 
	display: none; 
}

.flat #flat, .sharp #sharp { 
	display: inline; 
}